h1{
color: PaleVioletRed;
text-align: center;
font-family: Brush Script MT,cursive;
font-size: 320%;
border-radius: 7px;
background-color: AntiqueWhite;
}
button {
  color: AntiqueWhite;
  background-color: PaleVioletRed;
text-align: center;
  font-size: 22px;
  border: none;
  border-radius: 7px;
   margin: 7px 5px;
}

ul {
  color: Black;
  text-align: center;
  font-family: Times New Roman, Times, serif;
  font-size: 160%;
  width: 480px;
  margin-right: 140px;
  border: 3px FloralWhite;
  border-radius: 9px;
  padding: 30px;
  background-color: MistyRose;
list-style-position: inside;
}

img {
border-radius: 9px;
margin-left: 50px;
margin-right: 30px;
margin-bottom: 30px;
margin-top: 20px;
}


